

/****/
/*******************header***************/
/****/

header{
    width: 100%;
    margin: auto;
}
header p{
    font-weight: bold;
    color:#e80041 !important ;
}
header p span{
    font-size: 0.8em;
    color:#34375b;
}
.navbar-nav{
    margin: auto;
}
.navbar-nav .nav-item{
    margin:0 20px ;
}
.dropdown-item{
    font-weight: bold;
}
.dropdown-item:hover{
    background: #e80041 !important;
    color: aliceblue!important;
}
.btn:hover{
    color:aliceblue!important;
}

/****/
/*******************main*********************/
/****/

/****Carousel****/

/****content****/

.container{
    width: 80%;
    display: flex;
}
.row, .left{
    border:1px solid black;
    margin:5vh;
}



/****/
/*********************footer*****************/
/****/
